
.disorder-wrapper {
    @media (max-width: 1445px) {
        margin-left: 100px;  
        margin-right: 100px;  
    }
    @media (max-width: 1024px) {
        margin-left: 20px;  
        margin-right: 20px;  
    }
    @media (max-width: $small-max-width) {
        margin-left: 5px;  
        margin-right: 5px;  
    }
    .disorder {
        font-size: 22px;
        line-height: 30px; 
        max-width: 650px;
        color: $color-gray;
        @media (max-width: $xmedium-max-width) {
            max-width: 548px;
        }
        @media (max-width: $xxmedium-max-width) {
            max-width: 480px;
        }
        @media (max-width: $medium-max-width) {
            max-width: 100%;
        }
        @media (max-width: $small-max-width) {
            font-size: 16px;
            line-height: 24px; 
        }
    }
}