.tab-list {
  display: flex;
  background-color: $color-gray;
  font-size: 20px;
  line-height: 29px;
  text-align: center;

  button {
    width: 100%;
    outline: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .tab-name {
    max-width: 90%;
    display: block;
    margin: auto;

    @media (max-width: $xlarge-max-width) {
      max-width: 90%;
    }
  }

  .tab-subhead {
    @media (max-width: $xmedium-max-width) {
      margin-left: -30px;
    }
  }

  @media (max-width: $large-max-width) {
    font-size: 18px;
    line-height: 27px;
  }
}

.tab-content {
  padding-top: 70px;
  font-size: 22px;
  line-height: 25px;
  color: $color-pewter;

  @media (max-width: $medium-max-width) {
    padding-top: 35px;
    font-size: 20px;
    line-height: 24px;
  }

  .merigold-title {
    
    @media (max-width: 783px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .study-list-height {
    padding-bottom: 1rem;
    flex: 1;

    @media (max-width: $medium-max-width) {
      padding-top: 2rem;
      padding-bottom: 2rem;
      height: auto;
    }
  }

  .sds-list-height {
    height: auto;
    padding-bottom: 20px;
  }

  .merigold {
    background-color: $color-marigold;
  }

  .gold {
    background-color: $color-gold;
  }

  .list-title {
    font-size: 20px;
    line-height: 29px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    width: 90%;

    @media (max-width: $large-max-width) {
      padding-left: 2em;
    }

    @media (max-width: $medium-max-width) {
      padding-left: 2.15em;
      width: 70%;
    }

    @media (max-width: $ssmall-max-width) {
      padding-left: 2.8em;
      font-size: 16px;
      width: 80%;
    }
  }

  .list-title-line {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 45px;

    svg {
      stroke-width: 0.9em;
    }

    @media (max-width: $large-max-width) {
      font-size: 35px;
    }

    @media (max-width: $small-max-width) {
      font-size: 25px;
    }
  }

  .list-text {
    font-size: 20px;
    line-height: 25px;
    width: 85%;
    margin: auto;
    padding-top: 30px;

    @media (max-width: $large-max-width) {
      width: 90%;
    }

    @media (max-width: $medium-max-width) {
      width: 80%;
    }

    @media (max-width: $ssmall-max-width) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .point-title-border {
    border-right: 5px solid $color-marigold;
    border-left: 5px solid $color-marigold;
    width: 90%;
    margin: auto;

    .point-title {
      font-size: 23px;
      line-height: 26px;
      background-color: rgba(255, 209, 0, 0.5);
      width: 95%;
      margin: auto;
      padding: 15px;

      @media (max-width: $large-max-width) {
        padding: 7px;
      }

      @media (max-width: $medium-max-width) {
        font-size: 19px;
        line-height: 23px;
      }
    }
  }

  .point-text {
    font-size: 23px;
    line-height: 27px;
    max-width: 370px;
    margin: auto;

    @media (max-width: $xxmedium-max-width) {      
      width: 98%;
    }

    @media (max-width: $medium-max-width) {
      font-size: 20px;
      line-height: 23px;
      width: 75%;
    }

    @media (max-width: 640px) {
      width: 81%;
      line-height: 26px;
    }
  }
  .point-subheader{
      margin-bottom: -6%;
      margin-top: 5%;
  }
  .point-header {
    font-size: 56px;
    line-height: 68px;
    padding-top: 10%;

    @media (max-width: $xlarge-max-width) {
      font-size: 46px;
      line-height: 58px;
      padding-top: 5%;
    }
    @media (max-width: $large-max-width) {
      font-size: 36px;
      line-height: 48px;
      padding-top: 2rem;
    }
    @media (max-width: 768px) {
      padding-top: 1.5rem;
    }
  }

  .horisontal-line {
    width: 60%;
    background-color: $color-marigold;
    color: $color-marigold;
    height: 0.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    @media (max-width: $large-max-width) {
      margin-bottom: 2em;
    }

    @media (max-width: $medium-max-width) {
      margin-bottom: 1.75em;
      height: 0.3em;
    }
  }

  .score-title {
    display: inline-block;
    @media (max-width: 951px) {
      margin-bottom: 1.3em;
    }
    @media (max-width: 853px) {
      margin-bottom: 0em;
    }
  }
}


/* Hide scrollbar for Chrome, Safari and Opera *
.table{
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Hide scrollbar for IE, Edge and Firefox 
.table {
  -ms-overflow-style: none;  /* IE and Edge 
  scrollbar-width: none;  /* Firefox 
}*/

.table-mr {
  @media (max-width: $xxmedium-max-width) {
    margin-right: -40px;
  }
}

.table-ml {
  @media (max-width: $xxmedium-max-width) {
    margin-left: -40px;
  }
}


